.red{
  background:red;
  color:#fff
}
.yellow{
  background:yellow;
  color:#fff
}
.pink{
  background:pink;
  color:#fff
}
.green{
  background:green;
  color:#fff
}
.white{
  background:#fff;
  color:#000
}